[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/SDL_shadercross"]
	path = vendor/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
