[package]
name = "karna"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["common","engine", "macros", "macros-derive", "math", "renderer"]

[dependencies]
engine = { path = "engine" }
common = { path = "common" }
renderer.workspace = true
math.workspace = true

[workspace.dependencies]
winit = "0.30.12"
wgpu = "27.0.1"
common = { path = "common" }
renderer = { path = "renderer" }
macros = { path = "macros" }
macros-derive = { path = "macros-derive" }
math = { path = "math" }
