[package]
name = "karna"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["common","macros","math"]

[workspace.dependencies]
common = { path = "common" }
macros = { path = "macros" }
math = { path = "math" }

[dependencies]
math.workspace = true
