[package]
name = "karna"
version = "0.1.0"
edition = "2024"

[workspace]
members = ["common", "engine","macros","math", "renderer"]

[workspace.dependencies]
common = { path = "common" }
macros = { path = "macros" }
math = { path = "math" }
winit = "0.30.12"
wgpu = "27.0.1"
renderer = { path = "renderer" }
traccia = "2.2.5"

[dependencies]
math.workspace = true
engine = { path = "engine" }
renderer.workspace = true
winit.workspace = true

[dev-dependencies]
image = "0.25.9"
rand = "0.8"
